<div class="all-reviews-container">
  <div class="reviews-panel">
    <ul class="reviews-list">
      <li class="review" *ngFor="let review of reviews">
        <div class="review-title">
          <span>{{ review.timestamp }}</span> | 
          <span>{{ review.shop }}</span>
          <p><span class="rate">{{ review.rate }}</span>★
          <span class="email">{{ review.email }}</span></p>
        </div>
        <div class="review-content">
          <p class="content">{{ review.content }}</p>
        </div>
        <hr>
      </li>
    </ul>
  </div>
</div>