<div class="app-container">
  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <hr>
  </div>
  
  <div class="navigator-panel">
    <ul class="navigator">
      <li class="navigator-item"><a routerLink="all-reviews">All Reviews</a></li>
      <li class="navigator-item"><a routerLink="own-reviews">Own Reviews</a></li>
      <li class="navigator-item"><a routerLink="login">Login</a></li>
      <li class="navigator-item"><a routerLink="sign-up">Sign Up</a></li>
    </ul>
  </div>
  
  <router-outlet></router-outlet>
</div>

